# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.cache/clangd/index/_mingw.h.86115EB194B31881.idx
*.idx
.codelite/ArraysAndVectors-andre.tags
Arrays/.clang-format
Arrays/.clangd
Arrays/Arrays.mk
Arrays/Arrays.project
build-Debug/Arrays/ObjectsList.txt
compile_commands.json
Makefile
.codelite/ArraysAndVectors-andre.tags
*.tags
.codelite/ArraysAndVectors.workspace.andre
ArraysAndVectors.workspace
*.workspace
ArraysAndVectors.workspace
.codelite/ArraysAndVectors-andre.tags
.codelite/ArraysAndVectors-andre.tags
*.tags
*.tags
ArraysAndVectors.workspace
*.workspace
build-Debug/Vectors/ObjectsList.txt
Vectors/Vectors.mk
Vectors/Vectors.project
Vectors/.clangd
Vectors/.clang-format
ArraysAndVectors.workspace
.codelite/ArraysAndVectors-andre.tags
.codelite/ArraysAndVectors-andre.tags
.codelite/ArraysAndVectors-andre.tags
.codelite/ArraysAndVectors-andre.tags
ArraysAndVectors.workspace
.codelite/ArraysAndVectors-andre.tags
Challenge/.clang-format
Challenge/.clangd
Challenge/Challenge.project
Vectors/main.cpp
ArraysAndVectors.workspace
.codelite/ArraysAndVectors-andre.tags
.codelite/ArraysAndVectors-andre.tags
ArraysAndVectors.workspace
ChallengeSolution/.clang-format
ChallengeSolution/.clangd
ChallengeSolution/ChallengeSolution.project
